.Nav_Conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #eee;
    border-radius: 8px;
    width: 90%;
    align-self:center;
    padding: 1rem;
}

.Nav_Item {
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #000;
}