.Nav_Conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #eee;
    border-radius: 8px;
    width: 90%;
    align-self:center;
    padding: 1rem;
    
}

.Nav_Item {
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #000;
     transition: transform 0.4s ease;
}
.Nav_Item:hover {
  transform:  scale(1.1);
} 